<div class="bodyview">

    <section class="container">

        <h2><b>Avances del proyecto</b></h2><br>

        <!-- Chart -->

        <figure class="chart" data-percent="25">
            <figcaption>25%</figcaption><br>
            <h3>-Carga-</h3><br>
            <div class="textu">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <svg width="200" height="200">
              <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
            </svg>
        </figure>

        <!-- Chart -->
        <figure class="chart" data-percent="50">
            <figcaption>50%</figcaption><br>
            <h3>-Contenedores-</h3><br>
            <div class="textu">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

        <!-- Chart -->
        <figure class="chart" data-percent="75">
            <figcaption>75%</figcaption><br>
            <h3>-Conductores-</h3><br>
            <div class="textu">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

        <!-- Chart -->
        <figure class="chart" data-percent="100">
            <figcaption>100%</figcaption><br>
            <h3>-Camiones-</h3><br>
            <div class="textu">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

    </section>
</div>