<div class="banner">
    <p><b>Tu Equipo</b></p>
</div>

<body>

    <div class="container">

        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/1R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/1E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/2R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/2E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/3R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/3E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/4R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/4E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/5R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/5E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/6R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/6E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/7R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/7E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/8R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/8E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-image">
            <div class="icon">
                <img src="/assets/respaldo/9R.jpg" alt="" />
            </div>
            <div class="hover-image one">
                <div class="img">
                    <img src="/assets/respaldo/9E.jpg" alt="" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">Nombre</div>
                        <div class="job">Cargo || Responsabilidad</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>