<body class="body1">


    <div class="container">
        <!--       1st Card -->
        <div class="card card-1">
            <div class="card-image">
            </div>
            <div class="card-text">
                <span class="date">Dia Uno</span>
                <h2>Recurso #1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, facilis. Alias dolor iure, sint reiciendis distinctio ea ab, tempora minus quasi aspernatur aliquid voluptate pariatur id eaque beatae. Eos, soluta.</p>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="value">4m</div>
                    <div class="type">read</div>
                </div>
                <div class="stats">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stats">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
        <!--          2nd Card (Repeat above)  -->
        <div class="card card-2">
            <div class="card-image">
            </div>
            <div class="card-text">
                <span class="date">Dia Dos</span>
                <h2>Recurso #2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, facilis. Alias dolor iure, sint reiciendis distinctio ea ab, tempora minus quasi aspernatur aliquid voluptate pariatur id eaque beatae. Eos, soluta.</p>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="value">4m</div>
                    <div class="type">read</div>
                </div>
                <div class="stats">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stats">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
        <div class="card card-3">
            <div class="card-image">
            </div>
            <div class="card-text">
                <span class="date">Dia Tres</span>
                <h2>Recurso #3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, facilis. Alias dolor iure, sint reiciendis distinctio ea ab, tempora minus quasi aspernatur aliquid voluptate pariatur id eaque beatae. Eos, soluta.</p>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="value">4m</div>
                    <div class="type">read</div>
                </div>
                <div class="stats">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stats">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <!--       1st Card -->
        <div class="card card-4">
            <div class="card-image">
            </div>
            <div class="card-text">
                <span class="date">Dia Cuatro</span>
                <h2>Recurso #4</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, facilis. Alias dolor iure, sint reiciendis distinctio ea ab, tempora minus quasi aspernatur aliquid voluptate pariatur id eaque beatae. Eos, soluta.</p>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="value">4m</div>
                    <div class="type">read</div>
                </div>
                <div class="stats">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stats">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
        <!--          2nd Card (Repeat above)  -->
        <div class="card card-5">
            <div class="card-image">
            </div>
            <div class="card-text">
                <span class="date">Dia Cinco</span>
                <h2>Recurso #5</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, facilis. Alias dolor iure, sint reiciendis distinctio ea ab, tempora minus quasi aspernatur aliquid voluptate pariatur id eaque beatae. Eos, soluta.</p>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="value">4m</div>
                    <div class="type">read</div>
                </div>
                <div class="stats">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stats">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
        <div class="card card-6">
            <div class="card-image">
            </div>
            <div class="card-text">
                <span class="date">Dia Seis</span>
                <h2>Recurso #6</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, facilis. Alias dolor iure, sint reiciendis distinctio ea ab, tempora minus quasi aspernatur aliquid voluptate pariatur id eaque beatae. Eos, soluta.</p>
            </div>
            <div class="card-stats">
                <div class="stats">
                    <div class="value">4m</div>
                    <div class="type">read</div>
                </div>
                <div class="stats">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stats">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>

    </div>

</body>